{% load sekizai_tags %}
{% load static %}

{% addtoblock 'js' %}
  {% if INCLUDE_JS_JQUERY %}<script src="{% static 'djangocms_owl/bower_components/jquery/dist/jquery.min.js' %}"></script>{% endif %}
  {% if INCLUDE_JS_OWL %}<script src="{% static 'djangocms_owl/bower_components/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>{% endif %}
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script>
    $(document).ready(function() {
      var owl = $('#plugin-{{ instance.pk }} .slider');
      owl.owlCarousel({
        pagination: {{ instance.pagination|yesno:'true,false' }},
        paginationNumbers: {{ instance.pagination_numbers|yesno:'true,false' }},
        items: {{ instance.items }},
        navigation: {{ instance.navigation|yesno:'true,false' }},
        autoPlay: {{ instance.autoplay|yesno:'true,false' }},
        stopOnHover: {{ instance.stop_on_hover|yesno:'true,false' }},
        autoHeight: {{ instance.auto_height|yesno:'true,false' }},
        itemsDesktop : false,
        itemsDesktopSmall : false,
        itemsTablet: false,
        itemsMobile : false
      });
    });
  </script>
{% endaddtoblock %}

{% addtoblock 'css' %}
  {% if INCLUDE_CSS %}
    <link rel="stylesheet" href="{% static 'djangocms_owl/bower_components/owl-carousel/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'djangocms_owl/bower_components/owl-carousel/owl-carousel/owl.theme.css' %}">
  {% endif %}
{% endaddtoblock %}

{% block plugin %}{% endblock plugin %}
